html {
    font-size: 10px;
}
.nothing {
    height: 6rem;
    background-color: #272727;
}
.pagination {
    bottom: 1rem;
    right: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
}
.showDetailEvents {
    margin-top: 3rem;
}
.detailevent {
    height: 4rem;
    border-radius: 1rem;
    outline: none;
    border: 0.2rem solid #DEDEDE;
    font-size: 1.5rem;
    transition: 1s ease;
    font-weight: 600;
}
.detailevent:focus {
 
   border-color: rgba(145, 166, 145, 0.933);
}
.modal-overlay {
  position: fixed;
    top: 25rem;
    left: 2rem;
    width: 25%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 2.5rem;
    width: 100%;
    height: 80rem;
   
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
  
  .close-button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
  }

.secondsearch{
    display: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    margin-left: 3rem;
    position: relative;
    margin-right: 3rem;
}

.secondsearch .search {
    height: 4rem;
    width: 100%;
    transition: 0.5s;
    border-radius: 20px;
    font-size: large;
    padding: 0 0 0 4rem;
    background-color: rgb(112, 113, 113);
    color: #DADADA;
    border: none;
    box-shadow: 0rem 0.4rem 0.4rem 0rem rgb(0 0 0 0.25);
}
.secondsearch input::placeholder {
   color: #DADADA;
}
.secondsearch .search:focus {
    outline: none;
    border-color: rgb(123, 125, 123);
}
.secondsearch .magnifier{
    position: absolute;
    top: 25%;
    left: 1rem;
    color: #DADADA;
}
.secondsearch .search:hover {
    transition: 0.5s;
    height: 4.5rem;
}


.layout {
    margin-top: 3rem;
    display: grid;
    margin-left: 4rem;
    margin-right: 4rem;
    grid-template-columns:1fr 3fr;
    gap: 5rem;
    padding-bottom: 3%;
}
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    margin-top: 0;
    
}
.calendar .naming {
    font-size: 3rem;
}

.eventgrid {
    grid-column: 2/3;
   display: flex;
   flex-direction: column;
    flex-wrap: wrap;
    margin-left: 4rem;
    margin-right: 2%;
}
.eventgrid .box {
    border-radius: 4rem;
    height: 18rem;
    width: 100%;
    box-shadow: 0px 4px 22.8px -3px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.54);
    transition: 0.5;
    display: flex;
    gap: 3rem;

}
.eventgrid .box:hover {
    height: 18.5rem;
    
    transition: 0.5s;
}
.eventgrid .box img {
    border-radius: 2rem 0 0 2rem;
    width: 100%;
    height: 100%;
}
.eventgrid .events {
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.eventgrid .box .imagepart {
    border-radius: 2rem;
    width: 24rem;
    height: 18rem;
}
.eventgrid .mainboxlayer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}
.eventgrid .naming {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.eventgrid .EventHeading {
    font-size: 2rem;
}
.addEventer {
    margin-top: 4rem;
    border-radius: 45px;
background-color: #ff0000;
height: 4rem;
width: 10rem;
padding-left: 1.5rem;
font-size: 1.5rem;
font-family: 'Inria Serif';
color: #fff;
text-align: left;
display: inline-block;
border: none;
}
.addEventer a {
    text-decoration: none;
    color: white;
}
.eventgrid .written {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.eventgrid .written .orglayout {
display: flex;
    align-items: center;
    gap: 1.4rem;
    font-size: 1.2rem;
}

@media(max-width: 1200px) { 
    .layout {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }
    .eventgrid .written {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
    }
    .eventgrid .box {
        height: 25rem;
    }
    .eventgrid .box .imagepart img {
        display: flex;
        justify-self: center;
        align-self: center;
    }

    .modal-overlay {
        position: relative;
        width: 100%;
        left: 0;
        top: 1rem;
    }
    .modal-content {
        padding-left:  1.5rem;
        height: 60rem;
    }
   .calen {
    width: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .eventgrid .mainboxlayer{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .eventgrid {
        margin: 0;
    }
    .react-calendar {
        margin-bottom: 0;
        height: 40rem;
    }
}

@media(max-width : 810px) {
    .secondsearch {
        display: flex;
    }
    .layout {
        margin: 0;
    }
}